.header {
    overflow: hidden;
    width: 100%;
    padding: 0;
}

div {
    display: block;
}
A.giaytot4.0,,_…nL-D-iJY.css:7
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
body {
    background: #f8f8f8;
    font-size: 13px;
    line-height: 1.55;
    font-family: arial;
    color: #2f2f2f;
    text-align: left;
    text-shadow: 0 0 0 #999;
}